# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
beautifulsoup4
pyinstaller
keyboard
mysql-connector-python
numpy
requests
urllib3
pytest
PyQt5
scikit-image
matplotlib
scipy
numpy